{% extends "PublicationBundle:layout.html.twig" %}

{% block publication_body %}
    <h1>Liste des sujet</h1>
    <hr/>
    <table class="table-responsive table">
        <thead>
            <th style="font-size: 15pt"><b>Titre</b></th>
        </thead>
        <tbody>
            {% for sujet in sujets %}
            <tr>
                <td style="font-size: 12pt">{{ sujet.titre }}</td>
                <td>
                    <a href="{{ path("publication_edit", {"id": sujet.id}) }}" class="btn btn-warning">Éditer</a>
                    {#<a href="{{ path("publication_delete", {"id": sujet.id }) }}">Suprimer</a>#}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    Override >:D
{% endblock %}