{% extends "PublicationBundle:layout.html.twig" %}

{% block publication_body %}
    <h1>Liste des sujet</h1>
    <hr/>
    <table class="table-responsive table">
        <thead>
            <th style="font-size: 15pt"><b>Titre</b></th>
        </thead>
        <tbody>
        {%  %}
            <tr>

            </tr>
        </tbody>
    </table>
    Override >:D
{% endblock %}