{% block menu %}
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <div class="text-center">

                    </div>
                </div>
            </li>
            <li><a href="../Shared/Home.php"><i class="glyphicon glyphicon-user"></i>Home</a></li>
            <li>
                <a href="#" id="inspinia_test">
                    <i class="glyphicon glyphicon-user"></i>
                    <span class="nav-label">Test</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li><a href="../Items/Item1.php?Valeur=32">Item 1</a></li>
                    <li><a href="../Items/Item2.php">Item 2</a></li>
                    <li><a href="../Items/Item3.1.php">Item 3</a></li>
                    <li><a href="../Items/Item4.php">Item 4</a></li>
                </ul>
            </li>
            <li>
                <a href="#" id="sql_tests">
                    <i class="glyphicon glyphicon-user"></i>
                    <span class="nav-label">SQL</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li><a href="../SQL/SQL1.php">Insert</a></li>
                    <li><a href="../SQL/SQL2.php">Update</a></li>
                    <li><a href="../SQL/SQL3.php">Delete</a></li>
                    <li><a href="../SQL/SQL4.php">MVC</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
{% endblock %}